* {
  margin: 0;
  box-sizing: 0; }

* {
  font-family: Ramabhadra, Roboto, sans-serif; }

button {
  border: 5px solid transparent;
  border-radius: 5px;
  font-size: 1rem;
  padding: .5rem 1rem .5rem 1rem;
  outline: none; }

.appLogo {
  height: 2rem;
  width: 2rem; }

.buttonOne {
  background-color: #ef3e5d;
  color: white; }

.buttonTwo {
  background-color: white;
  color: #ef3e5d;
  border: 2px solid #ef3e5d; }

body header {
  background: url("../imgs/headerPhotoEdited.jpeg") 100%/cover no-repeat;
  width: 100vw;
  height: 100vh;
  color: white;
  overflow: hidden; }
  body header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem; }
    body header nav .logo img {
      height: 2rem;
      width: 2rem; }
    body header nav ul {
      display: flex;
      height: 4rem;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      body header nav ul li {
        list-style: none;
        margin-right: 5rem; }
      body header nav ul .bar1, body header nav ul .bar2, body header nav ul .bar3 {
        width: 30px;
        height: 4px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
        border: .1px solid transparent;
        border-radius: 20px; }
      body header nav ul .openMenu {
        opacity: 0; }
      body header nav ul .bar1.change {
        transform: rotate(-45deg) translate(-5px, 6px);
        background-color: #ef3e5d; }
      body header nav ul .bar3.change {
        transform: rotate(45deg) translate(-8px, -8px);
        background-color: #ef3e5d; }
      body header nav ul .openMenu.change {
        opacity: 1; }
      body header nav ul .bar2.change {
        opacity: 0; }
      body header nav ul .hamburger-bar:hover {
        background-color: #ef3e5d; }
      body header nav ul li:hover {
        color: #ef3e5d; }
  body header img {
    height: 1rem;
    width: 1rem; }
  body header .landingPage {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem; }
    body header .landingPage h1 {
      background: url("../imgs/pattern2.png") 100%/cover no-repeat;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    body header .landingPage .headerButtons button {
      border: 5px solid transparent;
      border-radius: 5px;
      font-size: 1rem;
      padding: .5rem 1rem .5rem 1rem; }
    body header .landingPage .headerButtons .buttonOne {
      background-color: #ef3e5d;
      color: white;
      padding: .4rem 1rem; }
    body header .landingPage .headerButtons .buttonOne:hover {
      background-color: white;
      color: #ef3e5d;
      border: 3px solid #ef3e5d;
      padding: .5rem 1.2rem; }
    body header .landingPage .headerButtons .buttonTwo {
      background-color: white;
      color: #ef3e5d;
      border: 2px solid #ef3e5d; }
    body header .landingPage .headerButtons .buttonTwo:hover {
      background-color: #ef3e5d;
      color: white; }
    body header .landingPage .headerButtons img {
      height: 2rem;
      width: 2rem;
      align-self: center; }

body .sectionOne {
  width: 100vw;
  height: 70vh; }
  body .sectionOne .sectionOneGrid {
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    letter-spacing: .5rem; }
    body .sectionOne .sectionOneGrid .Meetups {
      grid-column: 1 / span 3;
      grid-row: 1 / span 2;
      background: url("../imgs/photo-1556761175-b413da4baf72.jpeg") 100%/cover no-repeat;
      border: solid white;
      border-width: 3px 2px 1px 0px; }
      body .sectionOne .sectionOneGrid .Meetups h1 {
        margin: 3rem;
        color: white;
        font-size: 3rem;
        text-shadow: -4px 0px #ef3e5d; }
    body .sectionOne .sectionOneGrid .About {
      background: url("../imgs/photo-1473748129656-b7cd4e9bcabf.jpeg") 100%/cover no-repeat;
      border: solid white;
      border-width: 3px 0px 3px 2px; }
      body .sectionOne .sectionOneGrid .About h1 {
        margin: 5rem 0 0 1rem;
        color: white;
        font-size: 3rem;
        text-shadow: -4px 0px #06FCCD; }
    body .sectionOne .sectionOneGrid .Groups {
      background: url("../imgs/photo-1522202176988-66273c2fd55f.jpeg") 100%/cover no-repeat;
      border: solid white;
      border-width: 2px 0px 1px 2px; }
      body .sectionOne .sectionOneGrid .Groups h1 {
        margin: .5rem;
        color: white;
        font-size: 2rem;
        text-shadow: -4px 0px #ef3e5d; }

body .sectionTwo {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background: url("../imgs/pattern2-1.png") 0% 100%/30%; }
  body .sectionTwo .groupHighlight {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: url("../imgs/90spattern-01-02.png") 100%/50% no-repeat; }
    body .sectionTwo .groupHighlight .highlightStory {
      grid-column: 1 / span 1;
      background: rgba(255, 255, 255, 0.5);
      display: flex;
      flex-direction: column;
      padding: 5rem;
      text-align: left;
      font-weight: 900; }
      body .sectionTwo .groupHighlight .highlightStory h1 {
        font-size: 5vw;
        text-shadow: -4px 0px #13A2D7;
        color: #06FCCD; }
      body .sectionTwo .groupHighlight .highlightStory p {
        font-size: 1.3vw; }
      body .sectionTwo .groupHighlight .highlightStory .storyButtons {
        align-self: center; }
        body .sectionTwo .groupHighlight .highlightStory .storyButtons .buttonOne {
          padding: .3rem;
          background-color: #06FCCD;
          color: #13A2D7; }
        body .sectionTwo .groupHighlight .highlightStory .storyButtons .buttonOne:hover {
          background-color: #13A2D7;
          color: #06FCCD; }
        body .sectionTwo .groupHighlight .highlightStory .storyButtons .buttonTwo:hover {
          background-color: #ef3e5d;
          color: white; }
    body .sectionTwo .groupHighlight .highlightPicture {
      grid-column: 2 / span 1;
      background: url("../imgs/photo-1493655161922-ef98929de9d8.jpeg") 100% 0%/90% no-repeat; }
  body .sectionTwo .Stories {
    background: rgba(255, 255, 255, 0.5);
    margin: 0 5rem 0 5rem; }
    body .sectionTwo .Stories .navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 2rem; }
      body .sectionTwo .Stories .navbar h1 {
        font-size: 2.5rem;
        color: #ef3e5d; }
      body .sectionTwo .Stories .navbar h4, body .sectionTwo .Stories .navbar img {
        color: #06FCCD; }
      body .sectionTwo .Stories .navbar h4:hover {
        text-shadow: -3px 0px #ef3e5d; }
      body .sectionTwo .Stories .navbar img {
        height: 1.5rem;
        width: 1.5rem;
        margin-left: .5rem; }
    body .sectionTwo .Stories .storiesGrid {
      display: grid;
      width: 100%;
      height: 70vh;
      grid-template-columns: repeat(6, auto, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 2%; }
    body .sectionTwo .Stories .mainStory {
      grid-column: 1 / span 4;
      grid-row: 1 / span 2;
      width: 32vw;
      height: 70vh;
      background: url("../imgs/squiggleTwo.jpg") 10% 50%/10%;
      border: 1px solid transparent;
      border-radius: 55px;
      color: white;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 1.7vw;
      z-index: 1; }
      body .sectionTwo .Stories .mainStory .mainStoryImg {
        width: 30vw;
        height: 35vh;
        background: url("../imgs/matheus-ferrero-ODMNSWjel_I-unsplash.jpg") 50%/cover no-repeat;
        border: 10px solid transparent;
        border-radius: 20px; }
    body .sectionTwo .Stories .subStory {
      text-align: center; }
      body .sectionTwo .Stories .subStory h1 {
        font-size: 1.7vw; }
      body .sectionTwo .Stories .subStory p {
        font-size: 1.3vw; }
    body .sectionTwo .Stories .storyOne {
      grid-column: 5 / span 1;
      grid-row: 1 / span 1; }
      body .sectionTwo .Stories .storyOne .storyOneImg {
        width: 25vw;
        height: 20vh;
        background: url("../imgs/dorothy-puscas-kMgtp2f7yKs-unsplash.jpg") 50%/cover no-repeat;
        border: 10px solid transparent;
        border-radius: 20px; }
    body .sectionTwo .Stories .storyTwo {
      grid-column: 6 / span 1;
      grid-row: 1 / span 1; }
      body .sectionTwo .Stories .storyTwo .storyTwoImg {
        width: 25vw;
        height: 20vh;
        background: url("../imgs/mei-bakker-6qYj1o1X7yk-unsplash.jpg") 50%/cover no-repeat;
        border: 10px solid transparent;
        border-radius: 20px; }
    body .sectionTwo .Stories .storyThree {
      grid-column: 5 / span 1;
      grid-row: 2 / span 1; }
      body .sectionTwo .Stories .storyThree .storyThreeImg {
        width: 25vw;
        height: 20vh;
        background: url("../imgs/janko-ferlic-specialdaddy-Q13lggdvtVY-unsplash.jpg") 50%/cover no-repeat;
        border: 10px solid transparent;
        border-radius: 20px; }
    body .sectionTwo .Stories .storyFour {
      grid-column: 6 / span 1;
      grid-row: 2 / span 1; }
      body .sectionTwo .Stories .storyFour .storyFourImg {
        width: 25vw;
        height: 20vh;
        background: url("../imgs/eric-ward-ISg37AI2A-s-unsplash.jpg") 50%/cover no-repeat;
        border: 10px solid transparent;
        border-radius: 20px; }

body .sectionThree {
  width: 100%;
  height: 100vh;
  border-top: 5px solid white;
  background: url("../imgs/pattern2.png") 100%/cover no-repeat; }
  body .sectionThree .eventsAndConnection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr); }
    body .sectionThree .eventsAndConnection .events {
      grid-column: 1 / span 3;
      grid-row: 1 / span 1;
      height: 60vh;
      background: url("../imgs/photo-1478812954026-9c750f0e89fc.jpeg") 100%/cover no-repeat;
      display: grid;
      grid-template-columns: repeat(3, 1fr); }
      body .sectionThree .eventsAndConnection .events .eventDetails {
        background-color: rgba(255, 255, 255, 0.7);
        padding: 5rem 2rem 0 4rem;
        grid-column: 1 / span 1; }
        body .sectionThree .eventsAndConnection .events .eventDetails .buttonOne:hover {
          background-color: white;
          color: #ef3e5d;
          border: 2px solid #ef3e5d;
          padding: .7rem 1.2rem; }
    body .sectionThree .eventsAndConnection .connection {
      background: url("../imgs/pattern2.png") 10% 100%/cover no-repeat;
      border: 5px 0px 0px 0px solid white;
      grid-column: 1 / span 3;
      grid-row: 2 / span 1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      body .sectionThree .eventsAndConnection .connection .mobileAppImage {
        width: 35%;
        height: 35%; }
      body .sectionThree .eventsAndConnection .connection .connectTitle {
        font-size: 2.5rem;
        font-weight: 900;
        text-shadow: -4px 0px #06FCCD;
        color: #ef3e5d; }
      body .sectionThree .eventsAndConnection .connection .appList {
        background: white;
        border: 5px solid #ef3e5d;
        border-radius: 15px;
        width: 30vw;
        height: 45vh;
        box-shadow: -10px -10px black; }
      body .sectionThree .eventsAndConnection .connection .appButtonsContainer {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end; }
        body .sectionThree .eventsAndConnection .connection .appButtonsContainer .appButtons {
          width: 30%; }
        body .sectionThree .eventsAndConnection .connection .appButtonsContainer .google {
          width: 37%; }
