/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  body .sectionTwo .groupHighlight .highlightPicture {
    background: url("../imgs/photo-1493655161922-ef98929de9d8.jpeg") 70% 5%/120% no-repeat; }
  body .sectionTwo .Stories .mainStory {
    width: 35vw;
    height: 90%; }
  body .sectionThree .eventsAndConnection .events {
    font-size: 1rem; }
    body .sectionThree .eventsAndConnection .events .eventDetails {
      padding: 4rem 1rem 0 1rem; }
  body .sectionThree .eventsAndConnection .connection .appDetails .mobileAppImage {
    width: 40%; }
    body .sectionThree .eventsAndConnection .connection .appDetails .mobileAppImage img {
      width: 100%;
      height: 100%; }
  body .sectionThree .eventsAndConnection .connection .appDetails .appList {
    width: 45vw;
    height: 65%; } }

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  body header {
    height: 100vh; }
  body nav {
    width: 75vw;
    justify-content: flex-start; }
    body nav .logo {
      width: 40vw; }
    body nav ul {
      width: 33vw !important; }
      body nav ul .openMenu {
        margin-top: 3rem; }
  body .sectionTwo .groupHighlight .highlightPicture {
    background: url("../imgs/photo-1493655161922-ef98929de9d8.jpeg") 50% 5%/150% no-repeat; }
  body .sectionTwo .Stories .mainStory {
    width: 35vw;
    height: 90%; }
  body .sectionThree .eventsAndConnection .events {
    font-size: 1rem; }
    body .sectionThree .eventsAndConnection .events .eventDetails {
      padding: 3rem 1rem 0 1rem; }
      body .sectionThree .eventsAndConnection .events .eventDetails .buttonOne {
        padding: 0rem 0rem; }
  body .sectionThree .eventsAndConnection .connection .appDetails .mobileAppImage {
    width: 80%; }
  body .sectionThree .eventsAndConnection .connection .appDetails .connectTitle {
    font-size: 1.2rem;
    font-weight: 900;
    text-shadow: -4px 0px #06FCCD;
    color: #ef3e5d; }
  body .sectionThree .eventsAndConnection .connection .appDetails .appList {
    width: 50vw;
    margin: 0rem 2rem 0rem 0rem; } }

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  body header nav {
    width: 100vw;
    justify-content: flex-start; }
    body header nav .logo {
      width: 40vw; }
    body header nav ul {
      width: 30vw; }
      body header nav ul .openMenu {
        margin-top: 3rem; }
  body .sectionTwo .groupHighlight .highlightPicture {
    background: url("../imgs/photo-1493655161922-ef98929de9d8.jpeg") 50% 5%/150% no-repeat; }
  body .sectionTwo .Stories .mainStory {
    width: 35vw;
    height: 90%; }
  body .sectionThree .eventsAndConnection .events {
    font-size: 1rem; }
    body .sectionThree .eventsAndConnection .events .eventDetails {
      padding: 3rem 1rem 0 1rem; }
      body .sectionThree .eventsAndConnection .events .eventDetails .buttonOne {
        padding: 0rem 0rem; }
  body .sectionThree .eventsAndConnection .connection .appDetails .mobileAppImage {
    width: 55%; }
  body .sectionThree .eventsAndConnection .connection .appDetails .connectTitle {
    font-size: 1.2rem;
    font-weight: 900;
    text-shadow: -4px 0px #06FCCD;
    color: #ef3e5d; }
  body .sectionThree .eventsAndConnection .connection .appDetails .appList {
    width: 50vw;
    margin: 0rem 2rem 0rem 0rem; } }

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  body nav {
    width: 80vw;
    justify-content: flex-start; }
    body nav .logo {
      width: 70vw; }
    body nav ul {
      width: 15vw !important; }
      body nav ul .openMenu {
        margin-top: 5rem;
        opacity: 1 !important; }
  body .sectionTwo .groupHighlight .highlightStory {
    padding: 1rem; }
    body .sectionTwo .groupHighlight .highlightStory p {
      font-size: .7rem; }
  body .sectionTwo .groupHighlight .highlightPicture {
    background: url("../imgs/photo-1493655161922-ef98929de9d8.jpeg") 50% 15%/150% no-repeat; }
  body .sectionTwo .Stories {
    margin: 0rem; }
    body .sectionTwo .Stories .storiesGrid {
      grid-gap: 1%; }
    body .sectionTwo .Stories .mainStory {
      width: 40vw;
      height: 55%;
      margin: auto; }
      body .sectionTwo .Stories .mainStory .mainStoryImg {
        height: 25vh;
        background: url("../imgs/matheus-ferrero-ODMNSWjel_I-unsplash.jpg") 50%/cover no-repeat; }
  body .sectionThree {
    height: 130vh; }
    body .sectionThree .eventsAndConnection .events {
      font-size: 1rem; }
      body .sectionThree .eventsAndConnection .events .eventDetails {
        width: 60vw; }
        body .sectionThree .eventsAndConnection .events .eventDetails .buttonOne {
          padding: 0rem 0rem; }
    body .sectionThree .eventsAndConnection .connection .appDetails .mobileAppImage {
      width: 50%;
      display: none; }
    body .sectionThree .eventsAndConnection .connection .appDetails .connectTitle {
      font-size: 1.2rem;
      font-weight: 900;
      text-shadow: -4px 0px #06FCCD;
      color: #ef3e5d; }
    body .sectionThree .eventsAndConnection .connection .appDetails .appList {
      width: 75vw;
      height: 55%;
      margin: 5rem 2rem 0rem 0rem; } }

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  body .sectionTwo {
    height: 120vh; }
  body .sectionThree {
    height: 110vh; }
    body .sectionThree .eventsAndConnection .events {
      height: 50vh; }
      body .sectionThree .eventsAndConnection .events .eventDetails {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 1rem 0 1rem; }
    body .sectionThree .eventsAndConnection .connection {
      height: 60vh; }
      body .sectionThree .eventsAndConnection .connection .appDetails {
        height: 50vh; }
        body .sectionThree .eventsAndConnection .connection .appDetails .appList {
          height: 55%; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation: portrait) {
  body .sectionOne .sectionOneGrid .Meetups {
    grid-column: 1 / span 2; }
  body .sectionOne .sectionOneGrid .About {
    grid-column: 3 / span 2; }
  body .sectionOne .sectionOneGrid .Groups {
    grid-column: 3 / span 2; }
  body .sectionTwo {
    height: 135vh; }
  body .sectionThree {
    height: 110vh; }
    body .sectionThree .eventsAndConnection .events {
      height: 50vh; }
      body .sectionThree .eventsAndConnection .events .eventDetails {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 1rem 0 1rem; }
    body .sectionThree .eventsAndConnection .connection {
      height: 60vh; }
      body .sectionThree .eventsAndConnection .connection .appDetails {
        height: 50vh; }
        body .sectionThree .eventsAndConnection .connection .appDetails .appList {
          height: 65%;
          width: 65vw; } }

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {
  body .sectionTwo {
    height: 175vh; }
  body .sectionThree .eventsAndConnection .events .eventDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem 0 2rem; }
  body .sectionThree .eventsAndConnection .connection .appDetails .mobileAppImage {
    width: 40%; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 823px) and (orientation: landscape) {
  body header {
    height: 110vh; }
    body header nav {
      padding: 0rem .5rem 1rem .5rem; }
    body header .landingPage {
      height: 70%;
      line-height: 7rem; }
  body .sectionOne {
    height: 90vh; }
    body .sectionOne .sectionOneGrid {
      height: 90vh; }
  body .sectionTwo {
    height: 270vh; }
    body .sectionTwo .Stories .navbar {
      margin-bottom: 0rem; }
    body .sectionTwo .Stories .storiesGrid {
      height: 100vh; }
  body .sectionThree {
    height: 230vh; }
    body .sectionThree .eventsAndConnection .events {
      height: 120vh; }
    body .sectionThree .eventsAndConnection .connection {
      height: 140vh; }
      body .sectionThree .eventsAndConnection .connection .appDetails .mobileAppImage {
        width: 35%;
        height: 140%; }
      body .sectionThree .eventsAndConnection .connection .appDetails .appList {
        height: 85vh; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  body header {
    height: 100vh; }
    body header nav {
      padding: 0rem .5rem 1rem 1rem; }
      body header nav .logo {
        font-size: 0rem; }
      body header nav ul li {
        margin: 3rem 3rem 0rem 0rem; }
      body header nav ul .openMenu {
        opacity: 1;
        font-size: .8rem; }
    body header .landingPage {
      font-size: 2.5rem; }
  body .sectionOne .sectionOneGrid .Meetups {
    grid-column: 1 / span 2;
    background: url("../imgs/photo-1556761175-b413da4baf72.jpeg") 80%/cover no-repeat; }
    body .sectionOne .sectionOneGrid .Meetups h1 {
      margin: 1rem;
      font-size: 1.8rem; }
  body .sectionOne .sectionOneGrid .About {
    grid-column: 3 / span 2; }
    body .sectionOne .sectionOneGrid .About h1 {
      font-size: 1.8rem; }
  body .sectionOne .sectionOneGrid .Groups {
    grid-column: 3 / span 2; }
    body .sectionOne .sectionOneGrid .Groups h1 {
      font-size: 1.8rem; }
  body .sectionTwo .groupHighlight {
    grid-template-rows: repeat(2, 1fr);
    background: url("../imgs/90spattern-01-02.png") 100%/75% no-repeat; }
    body .sectionTwo .groupHighlight .highlightStory {
      grid-row: 2 / span 1;
      grid-column: 1 / span 2;
      padding: 1rem; }
      body .sectionTwo .groupHighlight .highlightStory p {
        font-size: .6rem; }
    body .sectionTwo .groupHighlight .highlightPicture {
      grid-column: 1 / span 2;
      background: url("../imgs/photo-1493655161922-ef98929de9d8.jpeg") 50% 20%/130% no-repeat; }
  body .sectionTwo .Stories .navbar {
    margin-bottom: 0; }
    body .sectionTwo .Stories .navbar h1 {
      font-size: 1.5rem; }
    body .sectionTwo .Stories .navbar h4 {
      padding-top: .5rem; }
  body .sectionTwo .Stories .storiesGrid {
    grid-template-rows: repeat(4, 1fr);
    height: 100%;
    grid-gap: 0%; }
  body .sectionTwo .Stories .mainStory {
    grid-column: 1 / span 5;
    grid-row: 1 / span 3;
    background-color: red;
    width: 92vw;
    height: 65%;
    font-size: .7rem; }
    body .sectionTwo .Stories .mainStory .mainStoryImg {
      width: 83vw;
      border-radius: 30px; }
  body .sectionTwo .Stories .storyOne {
    grid-row: 3 / span 1;
    grid-column: 1 / span 2; }
    body .sectionTwo .Stories .storyOne .storyOneImg {
      width: 40vw;
      height: 20vh; }
  body .sectionTwo .Stories .storyTwo {
    grid-row: 3 / span 1;
    grid-column: 4 / span 2; }
    body .sectionTwo .Stories .storyTwo .storyTwoImg {
      width: 40vw;
      height: 20vh; }
  body .sectionTwo .Stories .storyThree {
    grid-row: 4 / span 1;
    grid-column: 1 / span 2; }
    body .sectionTwo .Stories .storyThree .storyThreeImg {
      width: 40vw;
      height: 20vh; }
  body .sectionTwo .Stories .storyFour {
    grid-row: 4 / span 1;
    grid-column: 4 / span 2; }
    body .sectionTwo .Stories .storyFour .storyFourImg {
      width: 40vw;
      height: 20vh; }
  body .sectionThree {
    height: 110vh; }
    body .sectionThree .eventsAndConnection .events .eventDetails {
      padding: 5rem 1rem 0rem 2rem;
      font-size: .7rem; }
      body .sectionThree .eventsAndConnection .events .eventDetails h1, body .sectionThree .eventsAndConnection .events .eventDetails p {
        width: 50vw; }
      body .sectionThree .eventsAndConnection .events .eventDetails .buttonOne {
        font-size: .7rem;
        margin: .1rem .5rem; }
    body .sectionThree .eventsAndConnection .connection {
      height: 65vh; }
      body .sectionThree .eventsAndConnection .connection .appDetails .mobileAppImage {
        width: 40%;
        height: 65%; }
      body .sectionThree .eventsAndConnection .connection .appDetails .appList {
        width: 45vw;
        height: 40vh;
        font-size: .7rem;
        padding-right: .5rem; }
      body .sectionThree .eventsAndConnection .connection .appDetails .connectTitle {
        font-size: .8rem; } }

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
  body header {
    height: 130vh; }
  body .sectionTwo {
    height: 230vh; }
  body .sectionThree {
    height: 240vh; }
    body .sectionThree .eventsAndConnection .connection {
      display: flex;
      justify-content: center;
      height: 30vh; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  body header {
    height: 150vh; }
  body .sectionTwo {
    height: 270vh; }
  body .sectionThree {
    height: 265vh; }
    body .sectionThree .eventsAndConnection .events {
      height: 130vh; }
    body .sectionThree .eventsAndConnection .connection {
      height: 80vh; }
      body .sectionThree .eventsAndConnection .connection .appDetails .appList {
        height: 100vh; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  body header {
    height: 100vh; }
    body header nav {
      padding: 0rem .5rem 1rem 1rem; }
      body header nav .logo {
        font-size: 0rem; }
      body header nav ul li {
        margin: 3rem 2rem 0rem 0rem; }
      body header nav ul .openMenu {
        opacity: 1;
        font-size: .8rem; }
    body header .landingPage {
      font-size: 2rem; }
      body header .landingPage .headerButtons button {
        padding: .2rem .2rem; }
      body header .landingPage .headerButtons .buttonOne {
        padding: .2rem .2rem; }
  body .sectionOne .sectionOneGrid .Meetups {
    grid-column: 1 / span 2;
    background: url("../imgs/photo-1556761175-b413da4baf72.jpeg") 80%/cover no-repeat; }
    body .sectionOne .sectionOneGrid .Meetups h1 {
      margin: 1rem;
      font-size: 1.8rem; }
  body .sectionOne .sectionOneGrid .About {
    grid-column: 3 / span 2; }
    body .sectionOne .sectionOneGrid .About h1 {
      font-size: 1.8rem; }
  body .sectionOne .sectionOneGrid .Groups {
    grid-column: 3 / span 2; }
    body .sectionOne .sectionOneGrid .Groups h1 {
      font-size: 1.8rem; }
  body .sectionTwo .groupHighlight {
    grid-template-rows: repeat(2, 1fr);
    background: url("../imgs/90spattern-01-02.png") 100%/75% no-repeat; }
    body .sectionTwo .groupHighlight .highlightStory {
      grid-row: 2 / span 1;
      grid-column: 1 / span 2;
      padding: 1rem; }
      body .sectionTwo .groupHighlight .highlightStory h1 {
        font-size: 2rem; }
      body .sectionTwo .groupHighlight .highlightStory p {
        font-size: .6rem; }
    body .sectionTwo .groupHighlight .highlightPicture {
      grid-column: 1 / span 2;
      background: url("../imgs/photo-1493655161922-ef98929de9d8.jpeg") 50% 20%/130% no-repeat; }
  body .sectionTwo .Stories .navbar {
    margin-bottom: 0; }
    body .sectionTwo .Stories .navbar h1 {
      font-size: 1.5rem; }
    body .sectionTwo .Stories .navbar h4 {
      padding-top: .5rem; }
  body .sectionTwo .Stories .storiesGrid {
    grid-template-rows: repeat(4, 1fr);
    height: 100%;
    grid-gap: 0%; }
  body .sectionTwo .Stories .mainStory {
    grid-column: 1 / span 5;
    grid-row: 1 / span 3;
    background-color: red;
    width: 92vw;
    height: 65%;
    font-size: .7rem; }
    body .sectionTwo .Stories .mainStory .mainStoryImg {
      width: 83vw;
      border-radius: 30px; }
  body .sectionTwo .Stories .storyOne {
    grid-row: 3 / span 1;
    grid-column: 1 / span 2; }
    body .sectionTwo .Stories .storyOne .storyOneImg {
      width: 40vw;
      height: 20vh; }
  body .sectionTwo .Stories .storyTwo {
    grid-row: 3 / span 1;
    grid-column: 4 / span 2; }
    body .sectionTwo .Stories .storyTwo .storyTwoImg {
      width: 40vw;
      height: 20vh; }
  body .sectionTwo .Stories .storyThree {
    grid-row: 4 / span 1;
    grid-column: 1 / span 2; }
    body .sectionTwo .Stories .storyThree .storyThreeImg {
      width: 40vw;
      height: 20vh; }
  body .sectionTwo .Stories .storyFour {
    grid-row: 4 / span 1;
    grid-column: 4 / span 2; }
    body .sectionTwo .Stories .storyFour .storyFourImg {
      width: 40vw;
      height: 20vh; }
  body .sectionThree {
    height: 135vh; }
    body .sectionThree .eventsAndConnection .events {
      height: 70vh; }
      body .sectionThree .eventsAndConnection .events .eventDetails {
        padding: 5rem 1rem 0rem 2rem;
        font-size: .7rem; }
        body .sectionThree .eventsAndConnection .events .eventDetails h1, body .sectionThree .eventsAndConnection .events .eventDetails p {
          width: 50vw; }
        body .sectionThree .eventsAndConnection .events .eventDetails .buttonOne {
          font-size: .7rem;
          margin: .1rem .5rem; }
    body .sectionThree .eventsAndConnection .connection {
      height: 80vh; }
      body .sectionThree .eventsAndConnection .connection .appDetails {
        height: 105vh; }
        body .sectionThree .eventsAndConnection .connection .appDetails .mobileAppImage {
          width: 40%;
          height: 55%; }
        body .sectionThree .eventsAndConnection .connection .appDetails .appList {
          width: 45vw;
          height: 52vh;
          font-size: .7rem;
          padding-right: .5rem;
          padding-left: 1.2rem; }
        body .sectionThree .eventsAndConnection .connection .appDetails .connectTitle {
          font-size: .8rem; } }
